#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-brand__name a {
  font-size: 15px;
}
#header2-5 H1 {
  text-align: center;
  color: #ffffff;
}
#header2-5 P {
  font-size: 18px;
}
#msg-box4-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-15 .mbr-article {
  color: #ffffff;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-brand__name a {
  font-size: 15px;
}
#header2-14 H1 {
  text-align: center;
  color: #ffffff;
}
#header2-14 P {
  font-size: 18px;
}
#msg-box4-15 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-15 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
